body {
  background-color: #d3d3d3;
  display: flex;
  margin: 0;
  padding: 0;
}

#board {
  background-color: #d3d3d3;
  margin-left: auto;
  margin-right: auto;
}

.square {
  background-image: url("image/bg01.jpg");
  border-style: solid;
  cursor: default;
  display: inline-block;
  font-family: cursive;
  text-align: center;
}

#timer-container,
#start-game-container {
  font-family: monospace;
  font-size: 9pt;
  margin: 5px;
  text-align: center;
}

#timer-container,
#start-game-container,
#start-game-container button,
#timer {
  font-family: monospace;
  font-size: 9pt;
  text-align: center;
}

#timer {
  border-radius: 5px;
}

#main {
  width: 70%;
}

#scores {
  font-family: monospace;
}
