body {
  margin: 0;
  padding: 0;
  display: flex;
}

#board {
  margin-left: auto;
  margin-right: auto;
}

.square {
  background-image: url("image/bg_mario.jpg");
  border: 5px solid black;
  cursor: default;
  display: inline-block;
  font-family: cursive;
  font-size: 40pt;
  height: 90px;
  line-height: 90px;
  text-align: center;
  width: 90px;
}

#square_15 {
  background: none;
  border: 5px solid;
}

#timer-container,
#start-game-container {
  margin: 5px;
  text-align: center;
}

#timer {
  text-align: center;
}

#main {
  width: 70%;
}
