body {
  background-color: #d3d3d3;
  display: flex;
  margin: 0;
  padding: 0;
}

#board {
  background-color: #d3d3d3;
  margin-left: auto;
  margin-right: auto;
}

.square {
  background-image: url("image/bg01.jpg");
  border-style: solid;
  cursor: default;
  display: inline-block;
  font-family: cursive;
  text-align: center;
  text-shadow: -2px -2px 0 #d3d3d3, 2px -2px 0 #d3d3d3, -2px 2px 0 #d3d3d3, 2px 2px 0 #d3d3d3;
}

#timer-container,
#start-game-container {
  font-family: monospace;
  font-size: 9pt;
  margin: 5px;
  text-align: center;
}

#timer-container,
#start-game-container,
#start-game-container button,
#timer {
  font-family: monospace;
  font-size: 9pt;
  text-align: center;
}

#timer {
  border-radius: 5px;
}

#side1, #side2 {
  width: 30%;
}

#side2 {
  float: right;
}

#main {
  width: 40%;
}

#user-info, #score-pad {
  border-collapse: collapse;
  border-color: #000000;
  margin: 5px;
  text-align: center;
}

#user-info tr td,
#user-info tr th,
#score-pad tr td,
#score-pad tr th {
  border-style: solid;
  padding: 5px;
}

#user-info {
  float: right;
}

#ranking-page-link-text {
  margin: 5px;
}

#logout-container {
  bottom: 5px;
  left: 5px;
  position: absolute;
}
